@import url(loader.css);

*, ::after, ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

body.hover .table,
body.hover .download {
    opacity: .4;
}

body.danger * {
    color: red!important;
    border-color: red!important;
}

body.danger img,
body.danger svg {
    -webkit-filter: invert(1); filter: invert(1);
}

button {
    border: none;
    border-radius: .175rem;
    background-color: transparent;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out;
}

button:hover {
	background-color: #1c3651;
	border-color: #1c3651;
}

button:not(:disabled) {
    cursor: pointer;
}

table.table {
    position: relative;
    table-layout: fixed;
    max-width: 619pt;
}

table.table table:not(.uppercase) {
    width: 596.5pt;
}

table.table table.obs {
    width: 575.5pt;
}

table.table > table {
    font-size: 54px;
}
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
}

table.uppercase {
    font-size: .8rem;
    border-spacing: 3px;
    text-align: center;
}

table.fixed {
    table-layout:fixed;
}

th { text-align: left;}
th[colspan] {
    text-transform: uppercase;
    padding: 0 1rem;
    font-size: 13px;
}

td {
    position: relative;
    vertical-align: top;
    padding: 0;
}

td[colspan] table.obs,
td[colspan] table.border-collapse {
    margin: 0;
}

td span[id]:last-child { margin-right: 0; }

td.text-center.pb-3 {
    width: 41px;
    height: 138px;
}

ul,
ul.cols-1 {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    list-style: none;
    padding: 5px;
    margin: 0;
}

ul.cols-2 {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

span[id] {
    display: inline-block;
    margin-right: 5px;
}

img.logo {
    height: 60px;
}

.uppercase {
    text-transform: uppercase!important;
}

.right {
    right: 0;
}

.text-center {
    text-align: center!important;
}

.no-border { border: none!important; }

.b-top {
    border: none!important;
    border-top: 1px solid black!important;
}

.mx {
    margin-top: -15px;
    margin-bottom: -15px;
}

.py { padding: .2rem 0; }
.pt { padding-top: .2rem; }
.pb { padding-bottom: .2rem; }
.px { padding: 0 1rem; }
.px-0 { padding: 0 14px; }

.pb-1 { padding-bottom: 10px!important; }
.pb-2 { padding-bottom: 20px!important; }
.pb-3 { padding-bottom: 30px!important; }
.pb-4 { padding-bottom: 40px!important; }

.pr-1 { padding-right: 10px!important; }
.pr-2 { padding-right: 20px!important; }
.pr-3 { padding-right: 30px!important; }
.pr-4 { padding-right: 40px!important; }

.block {
    position: absolute;
    border: 1px solid black;
    min-height: 35px;
    min-width: 40px;
    bottom: 0;
}

.block.block-md {
    min-height: 30px;
}

.block.block-sm {
    min-height: 21px;
    min-width: 21px;
}

.block.right {
    border-right: 0;
    border-bottom: 0;
}

.block-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.block-text.flex-start {
    -webkit-box-pack: start!important;
        -ms-flex-pack: start!important;
            justify-content: flex-start!important;
}

.block-text.flex-start .block {
    margin-left: 1.5rem;
}

.block-text .block {
    position: relative;
}

.border td {
    border: 1px solid black;
}

.valign-middle { vertical-align: middle!important; }
.vertical {
    width: 89px;
    height: 14px;
    display: block;
    position: absolute;
    white-space: nowrap;
    -webkit-transform: translate(-25px, 43px) rotate(-90deg);
    -ms-transform: translate(-25px, 43px) rotate(-90deg);
    transform: translate(-25px, 45px) rotate(-90deg);
}

.obs,
.border-collapse {
    border-collapse: collapse;
}

.obs tr { height: 1.5rem; }
.obs tr:first-child td {
    line-height: .5rem;
    padding-left: .35rem;
    border-bottom: none;
    vertical-align: bottom;
}
.obs tr:nth-child(2) { height: .5rem; }
.obs tr:last-child td { border-top: none;}

.obs td {
    border: 1px solid black;
}

.overflow-hidden { overflow: hidden; }

.error {
    z-index: 3;
    background-color: white;
    display: none;
    width: 100vw;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    font-size: 22px;
    color: #ce5656;
    top: 0;
}

.error.show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.error h1 {
    font-weight: lighter;
    font-size: 23px;
    margin: 0;
}

.error span {
    margin: 0 20px;
    color: #8a1313;
}

.table,
.download {
    transition: opacity .10s ease-in-out;
}

.download {
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: calc(50% + 326px);
    top: 65px;
}

.download.show {
    opacity: 1;
    visibility: visible;
}

.download svg {
    height: 35px;
}

.download path {
    fill: #3e5062;
    transition: fill .15s ease-in-out .02s;
}

.download:hover path {
    fill: #fff;
}

#matricula { width: 407px; }
#endereco { width: 683px; }
#numero { width: 46px; }
#bairro { width: 268px }
#cep { width: 156px; }
#proprietario { width: 432px; }
#cpf-cnpj { width: 167px; }
#setor { width: 38px; }
#quadra { width: 38px; }
#lote { width: 38px; }
#quadra-loc { width: 38px; }
#lote-loc { width: 38px; }
#obs {
    width: calc(100% - 35.34px - 12px);
    border-bottom: 1px solid black;
}

@media print {
    .download { display: none; }
}
